@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
#card-front {
  color: #ffdfdf;
  z-index: 10;
}

#card,
#card-front,
#card-inside {
  height: 590px;
}

.wrap {
  padding: 1.5em 2.5em;
  height: 100%;
}

#card-front,
#card-inside {
  width: 50%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
}

#card-inside .wrap {
  background: #F0F1F3;
  -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
}

#card {
  display: none;
  width: 960px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 5000px;
  perspective: 5000px;
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  
}

#card h1 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-style: italic;
  font-size: 60px;
  /* text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15), 1px 1px 0 #ffc8c8, 2px 2px 0 #ff9696, 3px 3px 0 #ff7d7d; */
  color: #474747;
}

#card-inside {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;
  color: #474747;
  font-style: italic;
}

p {
  margin-top: 1em;
}

p:first-child {
  margin-top: 0;
}

p.signed {
  margin-top: 1.5em;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
}
.anderson{
  font-size: 19px;
  color: white;
  font-weight: bold;
  background: repeating-linear-gradient(-45deg, #ffffff, #42d3ff, #5f97ff);
  background-size: 500vw 500vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: tequiero 10s linear infinite forwards;
}

.tessy{
  font-size: 19px;
  font-weight: bold;
  color: white;
  background: repeating-linear-gradient(-45deg, #12c2e9, #c471ed, #f64f59);
  background-size: 500vw 500vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: tequiero 10s linear infinite forwards;
}

@keyframes tequiero{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 500vw;
  }
}

#card-front {
  /* background-color: #ee9ca7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5555), to(#ff7777));
  background-image: linear-gradient(top, #ff5555 0%, #ff7777 100%); */
  background-image: url(card2.jpg);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 5000px;
  perspective: 5000px;
}

#card-front:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #444;
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
}

#card-front .wrap {
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: #f44;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
}

#card-front button:hover,
#card-front button:focus {
  background: #f22;
}

#close {
  display: none;
}

#card.open-fully {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}

#card.open-half #card-front,
#card.close-half #card-front {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

#card.open-half .shadow {
  background-color: rgba(0, 0, 0, 0.5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #F0F1F3;
}

#card.open-fully #card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#card.open-fully .shadow {
  background-color: rgba(0, 0, 0, 0);
}

footer {
  max-width: 500px;
  margin: 40px auto;
  font-family: "Lobster", cursive;
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  text-align: center;
}

.cake_and_velas {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  overflow: hidden;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

.velas {
  background: #ED3A68;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 5s ease-out forwards;
  animation: in 500ms 5s ease-out forwards;
  
}

.velas:after,
.velas:before {
  background: rgb(255, 255, 255);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 5.5s infinite;
  animation: fuego 2s 5.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 5.5s infinite;
  animation: fuego 1.5s 5.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 5.5s infinite;
  animation: fuego 1s 5.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 5.5s infinite;
  animation: fuego 0.5s 5.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 5.5s infinite;
  animation: fuego 0.2s 5.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(255, 196, 0, 0.719);
    -webkit-box-shadow: 0 0 40px 10px rgba(251, 221, 171, 0.404);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 51, 0, 0.411);
    -webkit-box-shadow: 0 0 40px 20px rgba(251, 221, 171, 0.404);
    box-shadow: 0 0 40px 20px rgba(251, 221, 171, 0.404);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(255, 174, 0, 0.74);
    -webkit-box-shadow: 0 0 40px 10px rgba(251, 221, 171, 0.404);
    box-shadow: 0 0 40px 10px rgba(251, 221, 171, 0.404);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 51, 0, 0.411);
    -webkit-box-shadow: 0 0 40px 20px rgba(251, 221, 171, 0.404);
    box-shadow: 0 0 40px 20px rgba(251, 221, 171, 0.404);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {
  color: #8b6a60;
  font-family: "Lobster", cursive;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.text h1 {
  font-size: 1.4em;
}

.card-front_inside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(-1px) rotateY(180deg);
  transform: translateZ(-1px) rotateY(180deg);
  background-color: #F0F1F3;
  border: 3px solid #FFD487;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #cf7e2c, #F3B85E);
  background-image: url("mia.png");
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(-2px) rotateY(180deg);
  transform: translateZ(-2px) rotateY(180deg);
  pointer-events: none;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

.fecha {
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=card.css.map */
