/* Kaushan+Script, oregano, sail */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .container {
  height: 100%;
  font-family: "Kaushan Script", "Sail", cursive;
  font-family: 'Lobster', cursive;
  
}

body {
  background: #C0392B;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom, #190e14, #0d0d4b 30%, #c76075 80%, #e9b64b 95%);
  background-image: radial-gradient(circle at center bottom, #e9b64b, #c76075 15%, #0d0d4b 75%, #190e14 90%); */
  /* background-image: radial-gradient(#E67E22, #E74C3C); */
  background-image: radial-gradient(circle at center top, #23485a, #0d0246);
}
.scene{
  position: relative;
  width: 100%;
  height: 100vh;
}

div#beach,
canvas#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#beach {
  /* background-image: url(https://dl.dropbox.com/s/oe0oce2udq44bj5/beachsil2.png); */
  /* background-size: cover; */
  background-position: bottom right;
  background-size: 1700px;
  background-repeat: no-repeat;
}

div#video {
  position: absolute;
  right: 243px;
  bottom: 200px;
}

div#video iframe {
  width: 255px;
  height: 155px;
}

#people {
  position: absolute;
  bottom: 65px;
  left: 40px;
  width: 140px;
}

#car {
  position: absolute;
  bottom: 46px;
  left: 180px;
  width: 230px;
}

/* div#sea {
  background-color: blue;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: radial-gradient(circle at center top, #23485a, #0d0246);
} */

.merrywrap {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background: #C0392B;
  background-image: radial-gradient(#E67E22, #E74C3C);
  opacity: 100%;
  transition: background-color 0.5s ease;
}

.scene i{
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animatepectmr linear infinite;
}
@keyframes animatepectmr {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,90%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);

  }
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 40px;
  z-index: 10;
}
.giftbox > div {
  background: #DC5587;
  background-image: url("giftessy2.jpg");
  position: absolute;
}
.giftbox > div:after, .giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #000;
  width: 100%;
  content: "Dame Click bb!";
  left: 0;
  bottom: 60px;
  font-size: 24px;
  text-align: center;
  /* transform: rotate(-20deg); */
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 5px;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #F3B733;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before, .giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #F3B733;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #F3B733;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.icons {
  position: absolute;
  left: 10px;
  /*top:50%;
  width: 100%;*/
  height: auto;
  transform: translateY(10px) rotate(-20deg);
  opacity: 100%;
}
.icons .row {
  width: 100%;
  text-align: center;
}
.icons .row span {
  color: #e5e5e5;
  text-shadow: 4px 4px 0 rgba(96, 125, 139, 0.4);
  font-size: 50px;
  display: inline-block;
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.7s;
}

.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 0.1s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after,
.step-4 .giftbox:after {
  opacity: 0;
}

.step-3 .titulo,
.step-4 .titulo {
  opacity: 0;
  z-index: 1;
}



.step-2 .titulo {
  animation: flyUp 0.2s ease-in 0.05s forwards;
}
.step-2 .giftbox .cover {
  animation: flyUp 0.4s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 0.2s ease-in 0.05s forwards;
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.step-1 .icons .row span {
  opacity: 0;
}

.step-1 .icons .row span:first-child {
  transform: translateY(700%) translateX(600%);
}

.step-1 .icons .row span:nth-child(2) {
  transform: translateY(700%) translateX(500%);
}

.step-1 .icons .row span:nth-child(3) {
  transform: translateY(700%) translateX(400%);
}

.step-1 .icons .row span:nth-child(4) {
  transform: translateY(700%) translateX(300%);
}

.step-1 .icons .row span:nth-child(5) {
  transform: translateY(700%) translateX(200%);
}

.step-1 .icons .row span:nth-child(6) {
  transform: translateY(700%) translateX(100%);
}

.step-1 .icons .row span:nth-child(7) {
  transform: translateY(700%) translateX(0);
}

.step-1 .icons .row span:nth-child(8) {
  transform: translateY(700%) translateX(-100%);
}

.step-1 .icons .row span:nth-child(9) {
  transform: translateY(700%) translateX(-200%);
}

.step-1 .icons .row span:nth-child(10) {
  transform: translateY(700%) translateX(-300%);
}

.step-1 .icons .row span:nth-child(11) {
  transform: translateY(700%) translateX(-400%);
}

.step-1 .icons .row span:nth-child(12) {
  transform: translateY(700%) translateX(-500%);
}

.step-1 .icons .row span:nth-child(13) {
  transform: translateY(700%) translateX(-600%);
}

.step-2 .icons .row span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.step-2 .icons .row span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.step-2 .icons .row span:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.step-2 .icons .row span:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.step-2 .icons .row span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.step-2 .icons .row span:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.step-2 .icons .row span:nth-child(8) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.step-2 .icons .row span:nth-child(9) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.step-2 .icons .row span:nth-child(10) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.step-2 .icons .row span:nth-child(11) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

.step-2 .icons .row span:nth-child(12) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.step-2 .icons .row span:nth-child(13) {
  -webkit-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

.step-2 .icons span, .step-3 .icons span, .step-4 .icons span {
  opacity: 1;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 0.91);
}

.step-4 .icons .row span, .step-3 .icons .row span {
  /*animation: wobble 0.6s linear infinite forwards;*/
  color: #c6e2ff;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.step-4 .icons .row span:nth-child(even), .step-3 .icons .row span:nth-child(even) {
  animation-duration: 0.7s;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

.moon {
  position: absolute;
  top: 10%;
  right: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(255, 249, 220);
  /* background: rgb(255, 255, 255); */
  /* box-shadow: inset 20px -10px 0 0 #b9b9b9; */
  box-shadow: 0px 0px 50px 25px rgba(255, 228, 199, 0.876);
}

 .moon .crater1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background: #bbb; */
  background: rgb(236, 208, 167);
  /* box-shadow: inset -3px 1.5px 0 0 #E1C59C; */
  box-shadow: inset 8px 10px 15px 0px rgba(225,197,156,0.33);
  top: 20px;
  right: 20px;
}

.moon .crater2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: #bbb; */
  background: #ECD0A7;
  /* box-shadow: inset -1px 0.5px 0 0 #aaa; */
  top: 45px;
  right: 50px;
}

.moon .crater3 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background: #bbb; */
  background: #ECD0A7;
  /* box-shadow: inset -1.5px 0.75px 0 0 #aaa; */
  top: 60px;
  right: 25px;
}

@media (min-width: 1000px) {
  .icons {
    left: 30px;
  }

  .icons .row span {
    font-size: 56px;
  }

  #people {
    left: 80px;
    bottom: 70px;
    width: 160px;
  }

  div#beach {
    background-size: 2000px;
  }

  div#video {
    right: 290px;
    bottom: 235px;
  }

  div#video iframe {
    width: 295px;
    height: 185px;
  }

  .moon {
    right: 230px;
  }
}
.contenedor{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.byAlmeyda{
  width: 100%;
  bottom: 48px;
  position: absolute;
  color: #fff;
  display: flex;
  text-align: center;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  /* background: #000;
  background: linear-gradient(to right,#ff3700,#fc4a1a,#f7b733 ); */
  background: linear-gradient(to right, #121b44, #23485a);
  /* background-image: linear-gradient( 109.6deg,   #00a3e9,rgba(31,179,237,1) 11.2%, rgb(5, 90, 175) 91.1% ); */
  animation: efecto 3s ease-in infinite;
  background-size: 300%;
}
@keyframes efecto{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50% ;
  }
}

.byAlmeyda p{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 500;
  margin-top: 0 !important;
}
.byAlmeyda img{
  max-width: 25px;
  max-height: 25px;
  filter: invert(1);
}
.peliculon{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  background: #000;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  position: absolute;
}
.peliculon p>span{
  color: #FD002A;
  font-weight: 600;
}

/*# sourceMappingURL=parte1.css.map */
