.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-weight: 400;
  margin: 0;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  font-size: 16px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
@media (min-width: 37.5em) {
  .titulo {
    font-size: 64px;
  }
}
.titulo span {
  display: inline-block;
  margin: 0 4px;
  animation: 2s ease-in-out infinite move;
}
.titulo span:nth-child(1) {
  animation-delay: 0.1s;
}
.titulo span:nth-child(2) {
  animation-delay: 0.2s;
}
.titulo span:nth-child(3) {
  animation-delay: 0.3s;
}
.titulo span:nth-child(4) {
  animation-delay: 0.4s;
}
.titulo span:nth-child(5) {
  animation-delay: 0.5s;
}
.titulo span:nth-child(6) {
  animation-delay: 0.6s;
}
.titulo span:nth-child(7) {
  animation-delay: 0.7s;
}
.titulo span:nth-child(8) {
  animation-delay: 0.8s;
}
.titulo span:nth-child(9) {
  animation-delay: 0.9s;
}
.titulo span:nth-child(10) {
  animation-delay: 1s;
}
.titulo span:nth-child(11) {
  animation-delay: 1.1s;
}
.titulo span:nth-child(12) {
  animation-delay: 1.2s;
}
.titulo span:nth-child(13) {
  animation-delay: 1.3s;
}
.titulo span:nth-child(14) {
  animation-delay: 1.4s;
}

@keyframes move {
  50% {
    transform: translate(0, -20px);
  }
}
.fa {
  color: red;
  opacity: 0.3;
  animation: 1s ease grow infinite;
}
body .fa:nth-child(1) {
  animation-delay: 0.3s;
}
body .fa:nth-child(2) {
  animation-delay: 0.6s;
}
body .fa:nth-child(3) {
  animation-delay: 0.9s;
}
body .fa:nth-child(4) {
  animation-delay: 1.2s;
}
body .fa:nth-child(5) {
  animation-delay: 1.5s;
}
body .fa:nth-child(6) {
  animation-delay: 1.8s;
}
body .fa:nth-child(7) {
  animation-delay: 2.1s;
}
body .fa:nth-child(8) {
  animation-delay: 2.4s;
}
body .fa:nth-child(9) {
  animation-delay: 2.7s;
}
body .fa:nth-child(10) {
  animation-delay: 3s;
}
body .fa:nth-child(11) {
  animation-delay: 3.3s;
}
body .fa:nth-child(12) {
  animation-delay: 3.6s;
}
body .fa:nth-child(13) {
  animation-delay: 3.9s;
}
body .fa:nth-child(14) {
  animation-delay: 4.2s;
}
body .fa:nth-child(15) {
  animation-delay: 4.5s;
}
body .fa:nth-child(16) {
  animation-delay: 4.8s;
}
body .fa:nth-child(17) {
  animation-delay: 5.1s;
}
body .fa:nth-child(18) {
  animation-delay: 5.4s;
}
body .fa:nth-child(19) {
  animation-delay: 5.7s;
}
body .fa:nth-child(20) {
  animation-delay: 6s;
}
body .fa:nth-child(21) {
  animation-delay: 6.3s;
}
body .fa:nth-child(22) {
  animation-delay: 6.6s;
}
body .fa:nth-child(23) {
  animation-delay: 6.9s;
}
body .fa:nth-child(24) {
  animation-delay: 7.2s;
}
body .fa:nth-child(25) {
  animation-delay: 7.5s;
}
body .fa:nth-child(26) {
  animation-delay: 7.8s;
}
body .fa:nth-child(27) {
  animation-delay: 8.1s;
}
body .fa:nth-child(28) {
  animation-delay: 8.4s;
}
body .fa:nth-child(29) {
  animation-delay: 8.7s;
}
body .fa:nth-child(30) {
  animation-delay: 9s;
}
body .fa:nth-child(31) {
  animation-delay: 9.3s;
}
body .fa:nth-child(32) {
  animation-delay: 9.6s;
}
body .fa:nth-child(33) {
  animation-delay: 9.9s;
}
body .fa:nth-child(34) {
  animation-delay: 10.2s;
}
body .fa:nth-child(35) {
  animation-delay: 10.5s;
}
body .fa:nth-child(36) {
  animation-delay: 10.8s;
}
body .fa:nth-child(37) {
  animation-delay: 11.1s;
}
body .fa:nth-child(38) {
  animation-delay: 11.4s;
}
body .fa:nth-child(39) {
  animation-delay: 11.7s;
}
body .fa:nth-child(40) {
  animation-delay: 12s;
}
body .fa:nth-child(41) {
  animation-delay: 12.3s;
}
body .fa:nth-child(42) {
  animation-delay: 12.6s;
}
body .fa:nth-child(43) {
  animation-delay: 12.9s;
}
body .fa:nth-child(44) {
  animation-delay: 13.2s;
}
body .fa:nth-child(45) {
  animation-delay: 13.5s;
}
body .fa:nth-child(46) {
  animation-delay: 13.8s;
}
body .fa:nth-child(47) {
  animation-delay: 14.1s;
}
body .fa:nth-child(48) {
  animation-delay: 14.4s;
}
body .fa:nth-child(49) {
  animation-delay: 14.7s;
}
body .fa:nth-child(50) {
  animation-delay: 15s;
}

@keyframes grow {
  50% {
    transform: scale(2);
  }
}

/*# sourceMappingURL=parte2.css.map */
